.div1 {
    background-Color: green;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 20px;
}

div {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.but {
    background: chartreuse;
    color: black;
    border: none;
    font-size: 26px;
    border-radius: 5px;
}

.but:hover {
    background: white;
    border: chartreuse;
    border-radius: 5px;
}

.inp {
    height: 26px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.input-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.input {
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.button {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.result-block {
    text-align: center;
}




